/* header */
.header {
  height: 4vh;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title,
.header .welocome {
  width: 50%;
  height: 100%;
}

.header .title h3 a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
}

.header .title h6 {
  color: #a2a1a8;
  font-weight: 300;
  font-size: 15px;
  margin-top: -8px;
}

.header .welocome {
  justify-content: end;
}

.welocome .notifcation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welocome .profile {
  border: 1px solid rgba(162, 161, 168, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 15px;
  padding-top: 4px;
  margin-right: 15px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.profile h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--third-color);
  margin-top: 8px !important;
}

.profile i {
  width: 20px;
  height: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--third-color);
}

/* Responsive Design */
@media (max-width: 920px) {
  .header {
    height: 6vh;
  }

  .header .title h3 a {
    font-size: 17px;
    margin-left: 30px;
  }

  .header .title h6 {
    font-size: 10px;
  }
}

@media (max-width: 490px) {
  .header {
    padding-right: 35px !important;
    padding-left: 35px !important;
    margin: 0 auto !important;
  }

  .header .title {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .header .title .title {
    font-size: 15px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    margin-top: 7px !important;
  }

  .header .title .title-icon {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .welocome .profile {
    width: 130px;
    height: 50px;
  }

  .profile h2 {
    font-size: 13px;
  }
}
