.top-title {
  font-size: 40px;
  color: var(--second-color);
  font-weight: bold;
}

.all-imgs {
  background-color: var(--bg-main);
  height: 80vh;
  border-radius: 10px;
  border: 1px solid #a2a1a833;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 0px 12px;
  overflow: auto;
}

.all-imgs .imgs {
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.all-imgs .imgs.active {
  background-color: var(--sidebar-color);
}

.imgs img {
  width: 50%;
}

.details {
  background-color: var(--bg-main);
  height: auto;
  min-height: 80vh;
  border-radius: 10px;
  border: 1px solid #a2a1a833;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 15px;
}

.details form .form-label {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 700;
}

.details form .form-control ,
.details form .form-check-input ,
.details form .form-select {
  border: 1px solid #A2A1A833;
  box-shadow: 1px 1px 4px 0px #00000040;
  font-size: 17px;
  font-weight: 500;
}

.details form .form-control:focus ,
.details form .form-select:focus {
  border: 1px solid var(--sidebar-color);
  box-shadow: 1px 1px 4px 0px #00000040;
  background: transparent;
  box-shadow: none;
}

.details form .form-check-input {
  margin-right: 7px;
  margin-left: 7px;
}

.details .buttons {
  background: var(--sidebar-color);
  border-radius: 10px;
  border: 1px solid #a2a1a833;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 10px;
}

.details .buttons .btn-edit {
  background: #EDBD1C;
  border: 1px solid #EDBD1C;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.details .buttons .btn-delete {
  background: #BB2D3B;
  border: 1px solid #BB2D3B;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
