.details {
  background-color: var(--bg-main);
  height: auto;
  border-radius: 10px;
  border: 1px solid #a2a1a833;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 15px;
}

.details form .form-label {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 700;
}

.details form .form-control {
  border: 1px solid #a2a1a833;
  box-shadow: 1px 1px 4px 0px #00000040;
  font-size: 17px;
  font-weight: 500;
}

.details form .form-control:focus {
  border: 1px solid var(--sidebar-color);
  box-shadow: 1px 1px 4px 0px #00000040;
  background: transparent;
  box-shadow: none;
}

.details .buttons .btn-add {
  background: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: var(--bg-main);
}

@media (max-width: 576px) {
  .details .buttons .btn-add {
    width: 100% !important;
  }
}
