.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.col-md-6 {
  height: 100vh !important;
}

.welcome-content {
  width: 100%;
  background: #54bc6452;
  clip-path: polygon(0 0, 72% 0, 100% 100%, 0 100%);
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.welcome-content .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.welcome-content img {
  width: 50%;
}

.login-content {
  width: 100%;
  padding: 15px;
  height: 100%;
}

.login-content .header h1 {
  font-family: var(--font-arabic) !important;
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  color: var(--main-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.form-group label {
  font-weight: 700;
  font-style: Bold;
  font-size: 23px;
  line-height: 100%;
  color: var(--main-color);
  width: 82%;
  text-align: right;
  margin-bottom: 15px;
}

.form-control {
  padding: 10px 15px !important;
  border: 2px solid #0000007d !important;
  width: 85% !important;
  padding-left: 40px; /* مساحة للأيقونة على الشمال */
}

.form-control::placeholder {
  color: #0000007d;
  font-family: var(--font-arabic) !important;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
}

.password-toggle {
  position: absolute;
  top: 72%;
  left: 9%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
}

.remember {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: 15px;
}

.remember input {
  margin-left: 5px !important;
}

.remember label {
  font-family: var(--font-latin);
  font-weight: 700;
  font-size: 15px;
  color: var(--main-color);
}

.forgetpass {
  padding: 0px 15px;
}

.forgetpass a {
  font-family: var(--font-latin);
  font-weight: 700;
  font-size: 15px;
  color: var(--main-color);
}

.submit button {
  width: 85%;
  height: 35px;
  border-radius: 0;
  background: var(--second-color);
  font-family: Abhaya Libre Medium;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--bg-main);
}

.toast-container {
  z-index: 1055; // لضمان ظهور الـ Toast فوق العناصر الأخرى
}

.toast {
  &.bg-success {
    background-color: #28a745 !important;
    color: white;
  }
  &.bg-danger {
    background-color: #0a0a0a !important;
    color: rgb(167, 41, 41);
  }
  &.bg-warning {
    background-color: #ffc107 !important;
    color: black;
  }
}

@media (max-width: 992px) {
  .submit button {
    font-size: 14px;
    width: 40%;
  }

  .remember {
    margin-left: -30px;
  }

  .col-md-6 {
    height: 40vh !important;
  }
}

@media (max-width: 576px) {
  .submit button {
    font-size: 13px;
    width: 40%;
  }
}
