.sidebar {
  background: var(--sidebar-color);
  height: 96vh;
  width: 17vw;
  max-width: 250px;
  min-width: 180px;
  position: fixed;
  border-radius: 12px;
  left: auto;
  z-index: 1000;
  font-weight: 600;
  line-height: 100%;
  text-align: right;
  overflow-y: auto;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
}

.sidebar:not(.sidebar-open) {
  right: -100%;
}

/* تنسيق رأس الـ Sidebar */
.sidebar-header {
  text-align: right;
  margin-bottom: 2rem;
  width: 70%;
  margin: 20px auto;
  height: auto;
}

.sidebar-header .logo img {
  width: 30%;
  transition: all 0.3s ease;
}

.sidebar-header .logo h4 {
  font-weight: 800;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: var(--second-color);
  margin-top: 20px;
  letter-spacing: 0.5px;
}

/* تنسيق قائمة التنقل */
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 0.5rem;
  margin-right: 5px;
  margin-left: 5px;
}

/* تنسيق الروابط */
.nav-link {
  text-decoration: none;
  margin-bottom: 10px;
  width: 90%;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: var(--third-color);
  padding: 15px;
}

.btn-logout {
  background: var(--second-color);
  color: var(--bg-main);
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.nav-link .icon-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-link .icon-text img {
  width: 30px;
  height: 30px;
  margin-left: 7px;
}

.nav-link i {
  flex-shrink: 0;
}

.nav-link span {
  margin: 0 5px;
}

/* تنسيق الرابط النشط */
.nav-active {
  background-color: #54BC6424;
  border-radius: 8px;
  height: 45px;
  border-right: 5px solid var(--second-color);
}

/* تنسيق القوائم الفرعية */
.has-submenu {
  position: relative;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.open .submenu {
  max-height: 500px;
}

/* تنسيق زر التبديل */
.toggle-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1100;
  padding: 2px 5px;
  border-radius: 8px;
  background-color: var(--sidebar-color);
  border: 2px solid var(--second-color);
  color: var(--second-color);
  transition: all 0.3s ease-in-out;
}

/* تنسيق الزر عندما يكون الـ Sidebar مفتوحًا */
.toggle-btn-open {
  color: var(--main-color);
  right: 223px;
  top: 17px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  background: #5dbd6b83 !important;
}

@media (max-width: 992px) {
  .sidebar {
    width: 100vw;
    background-color: #5dbd6b83;
  }
  .toggle-btn {
    display: block;
  }
}
