<button class="btn btn-primary toggle-btn" [ngClass]="{'toggle-btn-open': isSidebarOpen}" (click)="toggleSidebar()">
  <i [class]="isSidebarOpen ? 'fa-solid fa-times' : 'fa-solid fa-bars'"></i>
</button>

<div class="container mt-3">
  <aside class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}" dir="rtl">
    <nav class="sidebar-nav" id="sidebar">
      <div class="sidebar-header">
        <div class="logo text-center" id="sidebarLogo">
          <a routerLink="/dashboard">
            <img src="/assets/img/icon-sid/logo.png" alt="Logo" loading="lazy" />
          </a>
        </div>
      </div>

      <!-- قائمة التنقل -->
      <div>
        <ul class="nav-menu">
          @for (item of menuItems; track $index) {
          <li class="nav-item" [ngClass]="{'has-submenu': item.submenu, 'open': item.isOpen}">
            @if (isLogoutItem(item)) {
            <a (click)="logout()" class="nav-link btn-logout mt-5 w-100">
              <div style="cursor: pointer;" class="icon-text justify-content-center">
                <span>{{ item.label }}</span>
              </div>
            </a>
            } @else {
            @if (item.submenu) {
            <a href="#" class="nav-link" (click)="toggleSubmenu($index); $event.preventDefault()">
              <div class="icon-text">
                <i [class]="item.icons"></i>
                <span>{{ item.label }}</span>
              </div>
            </a>

            <ul class="submenu" [ngClass]="{'open': item.isOpen}">
              @for (subItem of item.submenu; track $index) {
              <li class="nav-item">
                <a [routerLink]="subItem.path" class="nav-link" routerLinkActive="nav-active"
                  [routerLinkActiveOptions]="{exact: true}">
                  <div class="icon-text">
                    <i [class]="subItem.icon"></i>
                    <span>{{ subItem.key }}</span>
                  </div>
                </a>
              </li>
              }
            </ul>
            } @else {
            @if (item.path) {
            <a [routerLink]="item.path" class="nav-link" routerLinkActive="nav-active"
              [routerLinkActiveOptions]="{exact: false}">
              <div class="icon-text">
                <i [class]="item.icons"></i>
                <span>{{ item.label }}</span>
              </div>
            </a>
            }
            }
            }
          </li>
          }
        </ul>
      </div>
    </nav>
  </aside>
</div>
